<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication failed...</title>
</head>
<body>
    <div class="container">
        <h1>Authentication was not successful!</h1>
        <p>It seems like that an error occurred during your authentication process of your account </p>
        <p>Possible reasons: the link is too old, invalid or has been used already. </p>
        <p>Please request a new link in the telegram chatbot.</p>
        <p>Sorry for any inconvenience.</p>
    </div>

</body>
</html>